<div class="home-container">
  <div class="jumbotron text-center mb-0 text-black">
    <h1 class="display-3">Hello, Maribel!</h1>
    <p class="lead">Time to get cooking</p>
    <hr class="my-4">
    <%= link_to "Go to recipes", recipes_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
