<div class="splash">
  <div class="container mt-4">
    <div class="jumbotron text-center">
      <h1 class="display-4">Hello, Maribel!</h1>
      <p class="lead">Time to get cooking</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">Go to recipes</a>
    </div>
  </div>
</div>
